.custom-shape-divider-top-1610409581 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1610409581 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 211px;
}

.custom-shape-divider-top-1610409581 .shape-fill {
    fill: #2036FF;
}

.rotate {
    transform: rotate(180deg);
}

.input-st {
    border: none;
    line-height: 1.2;
}

.top-ground { 
    padding-top: 10% !important;
    z-index: 1;
    background-image: url(./../../../assets/images/wave2.svg);
    background-repeat: no-repeat;
    // padding-right: calc(1.5em + 0.75rem);
    background-position: center right 100%;
    // background-size: 100% 100%;
    background-size:cover;
    display: flex;
    position: absolute;
    height: 30%;
}

.user-form {
    position: relative;
    z-index: 999 !important;
}