<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <h4 class="fw-bold navbar-brand text-primary-1">CH21</h4>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav justify-content-center mx-auto mb-2  mb-lg-0">
        <li class="nav-item mr-3">
          <button class="btn mr-1" [ngClass]="{'selected-page': page === 1}" (click)="changePage(1)">
            <h6 class="fw-bold">relatórios </h6>
          </button>
        </li>
        <li class="nav-item ml-4">
          <button class="btn ml-4" [ngClass]="{'selected-page': page === 2}" (click)="changePage(2)">
            <h6 class="fw-bold">imagens </h6>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn mr-4 text-primary-1" [ngClass]="{'selected-page': page === 3}" (click)="changePage(3)">
            <h6 class="fw-bold">choices </h6>
          </button>
        </li>
      </ul>
      <div class=" navbar-text text-dark bg-daner text-end"><i class="fas fa-bell text-primary-1"></i> 
        {{ currentUser.data.name }}
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="col-12 pt-4 pb-4">
    <div class="row">
        <div class="col-3 bg-pimary">
            <h4 class="fw-bold">CH21</h4>
        </div>
        <div class="col-6 bg-seondary text-center">
                <b class="fw-bold mr-3">relatórios </b>
                <b class="fw-bold ml-5"> imagens </b>
                <b class="fw-bold">choices</b>
        </div>
        <div class="col-3 bg-daner text-end"><i class="fas fa-bell"></i> Vitt Arquitetos <i
                class="fas fa-chevron-down"></i></div>
    </div>
</div> -->