.btn-option:hover { 
    background-color: #00095e !important;
    color: #ffffff !important;
    transform: scale(1.05);
}

.btn-option-clicked {
    background-color: #df2020 !important;
    color: #ffffff !important;
}