.btn-option:hover { 
    background-color: #00095e !important;
    color: #ffffff !important;
    transform: scale(1.05);
}

.btn-option-clicked {
    background-color: #ededed !important;
    color: #2036ff !important;
    font-weight: bold !important;
    border-width: 2px;
    border-color: #2036ff;
}