<div class="container">
    <div class="mt-3">
        <app-navbar></app-navbar>
    </div>

    <div class="mt-5" *ngIf="!showSingleReport">
        <div *ngFor="let report of reportList">
            <div class="mt-3 col-11 mx-auto text-light primary-bg p-3 pb-0 rounded shadow-sm" (click)="selectReport(report)">
                <div class="col-12 pb-0 d-flex">
                    <p class="report-name col-4">{{ report.name }}</p>
                    <p class="report-room col-4 text-center">{{ report.r_description }}</p>
                    <!-- TODO: Definir como vou conseguir colocar o raio do perfil mais escolhido nessa parte -->
                    <p class="report-profile col-4 text-end">industrial</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5" *ngIf="showSingleReport">
        <app-report-display [report]="selectedReport" (goBack)="showSingleReport = false"></app-report-display>
    </div>
</div>
