body,
html {
    background-color: #f6f6f6;
    // background-size: 800% 800%;
    // animation: gradient 20s ease infinite;
    font-family: "Montserrat", sans-serif;
}

// .modal-ch {
//     z-index: 999;
//     // display: none;
//     padding-top: 100px;
//     position: fixed;
//     left: 0;
//     top: 0;
//     width: 50%;
//     height: 50%;
//     overflow: auto;
//     background-color: rgb(0, 0, 0);
//     background-color: rgba(0, 0, 0, 0.4);
// }

.modal-ch:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
  
.modal-dialog-ch {
    display: inline-block;
    vertical-align: middle;
}
  
.modal-ch .modal-content-ch {
    padding: 20px 20px 20px 20px;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 2s;
}

@keyframes modal-animation-ch {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes modal-animation-ch {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .modal-content {
        padding: 10px 5%;
        min-width: 88%;
    }
}
